[submodule "game-engine/vendor/spdlog"]
	path = game-engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "game-engine\\vendor\\glfw"]
	path = game-engine\\vendor\\glfw
	url = https://github.com/TheCherno/glfw
